<label for="productNameInput">Product Name</label>
<input
  type="text"
  id="productNameInput"
  placeholder="Product Name"
  name="productName"
  [(ngModel)]="productName"
/>
<p>{{ productName }}</p>