body {
    font-family: Arial;
    background-color: rgb(226,238,8); 
}

header {
    background-color: rgb(226,238,8);
    padding: 20px; /* espacio entre contenidos y borde elemento */
    text-align: center; /* Alineación del texto en el centro */
    font-size: 20px; /* Tamaño de fuente */
    border: groove;  /* https://www.w3schools.com/css/css_border.asp */
    /* Probamos otros tipos de borde */
    /*border: dotted;*/
    /* Colores https://htmlcolorcodes.com/ */
    border-color: rgb(0,0,129);
}

nav {
    float: left;
    /*float: center;*/
    width: 10%;
    height: 0%;
    background: rgb(226,238,8);
    padding: 20px;
    border: groove;
    border-color: rgb(0,0,129);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    float: left;
    padding: 20px;
    width: 90%;
    border: groove;
    border-color: rgb(0,0,129);
    /*background: rgb(191,232,239);*/
    background: rgb(255,255,255);
}

h1 {
    /*border: 1px solid black;*/
    color: rgb(0, 0, 129);
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

footer {    
    /*padding: 10px;*/
    padding: 20px;
    text-align: center;
    border: groove;
    border-color: rgb(0, 0,129);
    color:  rgb(0, 0,129);    
}


/* --------------- TABLAS -----------------  */ 

table {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-collapse: collapse;
    width: 60%;
    float: center;
}

td,th {
    border: 2px solid RGB(0,0,0);
    text-align: center;
    padding: 8px;
}

/* Filas impares */
tr:nth-child(even) {
    background-color: rgb(226, 238, 8);
}


